ion-content{
    --ion-background-color:#E1EAF9 ;

}
ion-header{
    position:absolute;
}
ion-toolbar{

  --ion-background-color:transparent;
  --opacity:0;
}
.signin-btns{
    margin-top: 25px;
    text-align: center;
    color: #F0F4FA;

}
.tex-tag{
    margin-top: 35px;
    text-align: center;
    span{
        font-size: 13px;
        font-weight: normal;
        color:#898585 ;
    }


}
   
ion-card{
    --ion-background-color:transparent;
    box-shadow: none !important;
}

ion-card-title{
    margin-top: 30px;
    font-size: 20px;
    color: #080808;
    text-align: center;
   font-weight: 400;
}
ion-card-subtitle{
    padding-top: 15px;
    font-size: 11 px;
    text-align: center;
    columns: #898585;
    font-weight: 100;

}
