<ion-header class="ion-no-border">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../../assets/patato.JPG"> </ion-img>
    <ion-card-header>
      <ion-card-title>Welcome
        <br>
             
      
     <p>To  AI  BASED IRISH POTATO DISEASE  DETECTION 
      Please Simply upload the image of Irish potatoes, and the system will determine whether the crop is affected by early or late blight disease.</p>
      </ion-card-title>

      
  
    </ion-card-header>
    <ion-card-content>
      <div class="signin-btns">
        <ion-button
          fill="solid"
          class="login"
          shape="round"
          [routerLink]="['/login']"
          >Login</ion-button
        >
        <ion-button
          fill="outline"
          shape="round"
          color="dark"
          [routerLink]="['/register']"
          >Sign Up</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
