ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color:transparent;
    --opacity:0;
}
ion-content{
    // --ion-background-color:#E1EAF9
}
.wrapform{
    margin-top: 30px;
}
ion-item{
    ion-input{
        color: #647890;
    }
}
.sign-btn-wrap{
    text-align: center;
    padding-top:30px ;
    .sign-btn{
        --ion-primary-color:#215AB7;
        --color:#F4F6FA;
    }
}