<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
  <!-- <ion-buttons slot="start">
    <ion-back-button defaultHref="login" text=""> </ion-back-button>

  </ion-buttons> -->
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../../assets/bluecolor.jpg "></ion-img>
  </ion-card>
  <ion-card-content>
    <div class="wrapform">
      <form [formGroup]="registerForm">
        <ion-item>
          <ion-icon name="person"></ion-icon>

          <ion-input
            type="text"
            name="email "
            formControlName="email"
            required
            placeholder="email "
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>

          <ion-input
            type="password"
            name="password"
            formControlName="password"
            required
            placeholder="*****************"
          ></ion-input>
        </ion-item>
      </form>
    </div>

    <div class="sign-btn-wrap">
      <ion-button fill="outline" routerLink="/welcome">Back</ion-button>
      <ion-button
        fill="solid"
        (click)="register(registerForm.value)"
        [disabled]="!registerForm.valid"
      >
        Sign Up<ion-spinner *ngIf="loading"></ion-spinner>
      </ion-button>
    </div>
  </ion-card-content>
</ion-content>
