<ion-content  style="background-color: black;">
   

  <div class="splash-container" ion-fixed>


    <div class="logo-container">
      <img src="assets/Roots 2018-orange.png" alt="">
      <br>
      <ion-spinner ></ion-spinner>
      
    </div>
 
  
    <div class="splash-footer">
      Powered by Tatizua Solutions Ltd
    </div>
  </div>
</ion-content>

