.logo-container {
    width: 40%;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .splash-footer {
    text-align: center;
    width: 100%;
    height: 30px;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
  }
  
  .splash-footer {
    font-size: 13px;
    font-weight: 500;
  }
  
  ion-spinner {
    position: absolute;
    margin-top: 15px;
    left: 40%;
    color: #f15a2b;
  }
  
  ion-text {
    color: #f15a2b;
    font-size: 20px;
    margin-right: 2px;
  }
  .logo {
    margin-top: 50%;
    padding-top: 50px;
    margin-right: -60%;
  
    img {
      height: 100px;
    }
  }
  
  