<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #4d71d7">
    <ion-title style="font-size: 13px">
      AI Irish potato Disease Detection App
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Blank </ion-title>
    </ion-toolbar>
  </ion-header>

  <br /><br />
  <div class="blankdive"></div>
  <div id="container">
    <p style="text-align: center; font-size: 18px; font-family: inherit">
      <span><ion-icon name="globe-sharp"></ion-icon></span>
      AI-Disease Analysis
    </p>
    <br /><br />

    <!-- <ion-input type="file" id="file" formControlName="file" (change)="onImageChange($event)"></ion-input> -->
    <ion-button (click)="takePicture()" style="margin-left: 15px"
    
      ><ion-icon name="camera-sharp"></ion-icon> Camera</ion-button
    >
   

    <div *ngIf="response['class']=='Late Blight'">
      <p style="margin-left: 8px">
        <ion-icon name="search-circle-sharp"></ion-icon> Findings:
      </p>
      <br />
      <img
        [src]="images"
        style="
          width: 82%;
          margin-left: 3%;
          height: 225px;
          border-radius: 10px;
          margin-top: -20px;
        "
      />
      <ion-progress-bar
        type="determinate"
        style="width: 300px; margin-left: 20px"
        value="1"
      ></ion-progress-bar>

      <div style="margin-left: 20px">
        <p style="margin-left: 8px">
          {{response['class']}} ({{(response['confidence']| percent:'2.0-2')}})
        </p>
        <ion-progress-bar
          type="determinate"
          style="height: 13px; width: 300px; border-radius: 10px"
          [value]="response['confidence']"
        ></ion-progress-bar>
      </div>

      <div>
        <ng-container *ngIf="response['class']=='Late Blight'">
          <ion-title style="color: #3880ff; margin-top: 21px px"
            >Recommandation:</ion-title
          >
          <br />
          <ion-accordion-group [scrollTop]="true">
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Disease Title {{response['class']}}</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                {{response['class']}}
              </div>
            </ion-accordion>

            <ion-accordion value="second">
              <ion-item slot="header" color="light">
                <ion-label>Cause of {{response['class']}} Disease</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Causes Early Blight: Favorable Environmental Conditions: Warm
                and humid weather creates an ideal environment for the growth
                and spread of the fungus. Infected Plant Material: Using
                infected potato seed or planting in soil contaminated with the
                pathogen can introduce the disease. Poor Air Circulation:
                Crowded planting and dense foliage can create conditions that
                promote the spread of the fungus. Overhead Irrigation: Watering
                the plants from above can create conditions conducive to fungal
                growth by keeping the foliage wet.
              </div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header" color="light">
                <ion-label
                  >Control Measures of {{response['class']}} disease:</ion-label
                >
              </ion-item>
              <div class="ion-padding" slot="content">
                Favorable Environmental Conditions: Warm and humid weather
                creates an ideal environment for the growth and spread of the
                fungus. Infected Plant Material: Using infected potato seed or
                planting in soil contaminated with the pathogen can introduce
                the disease. Poor Air Circulation: Crowded planting and dense
                foliage can create conditions that promote the spread of the
                fungus. Overhead Irrigation: Watering the plants from above can
                create conditions conducive to fungal growth by keeping the
                foliage wet. Management and Control Measures: Crop Rotation:
                Avoid planting potatoes or other susceptible crops in the same
                area for at least three years. Use Certified Seed Potatoes:
                Purchase certified disease-free seed potatoes to reduce the risk
                of introducing the pathogen. Practice Good Garden Hygiene:
                Remove and destroy infected plant material, including leaves and
                debris, to reduce the source of inoculum. Provide Adequate
                Spacing: Plant potatoes with proper spacing to improve air
                circulation and reduce humidity around the plants. Mulching:
                Apply mulch around the base of the plants to prevent soil
                splashing onto the leaves, which can spread the disease. Proper
                Watering: Water the plants at the base rather than overhead to
                keep the foliage dry. Fungicides: Consider using fungicides
                labeled for early blight control. Copper-based fungicides and
                those containing chlorothalonil are commonly used for managing
                early blight. Resistant Varieties: Choose potato varieties that
                are resistant to early blight when possible. Regular Inspection:
                Monitor your potato plants regularly for signs of disease, and
                take prompt action if symptoms appear
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ng-container>
      </div>
    </div>

    <div *ngIf="response['class']=='Early Blight'">
      <p style="margin-left: 8px">
        <ion-icon name="search-circle-sharp"></ion-icon> Findings:
      </p>
      <br />

      <img
        [src]="images"
        style="
          width: 82%;
          margin-left: 3%;
          height: 225px;
          border-radius: 10px;
          margin-top: -20px;
        "
      />
      <ion-progress-bar
        type="determinate"
        style="width: 300px; margin-left: 20px"
        value="1"
      ></ion-progress-bar>

      <div style="margin-left: 20px">
        <p>
          {{response['class']}} ({{(response['confidence']| percent:'2.0-2')}})
        </p>
        <ion-progress-bar
          type="determinate"
          style="height: 13px; width: 300px; border-radius: 10px"
          [value]="response['confidence']"
        ></ion-progress-bar>
      </div>
      <br />
      <div>
        <ng-container *ngIf="response['class']=='Early Blight'">
          <ion-accordion-group [scrollTop]="true">
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Disease Title {{response['class']}}</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                {{response['class']}}
              </div>
            </ion-accordion>

            <ion-accordion value="second">
              <ion-item slot="header">
                <ion-label>Cause of {{response['class']}} Disease</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Causes Early Blight: Favorable Environmental Conditions: Warm
                and humid weather creates an ideal environment for the growth
                and spread of the fungus. Infected Plant Material: Using
                infected potato seed or planting in soil contaminated with the
                pathogen can introduce the disease. Poor Air Circulation:
                Crowded planting and dense foliage can create conditions that
                promote the spread of the fungus. Overhead Irrigation: Watering
                the plants from above can create conditions conducive to fungal
                growth by keeping the foliage wet.
              </div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header">
                <ion-label
                  >Control Measures of {{response['class']}}:</ion-label
                >
              </ion-item>
              <div class="ion-padding" slot="content">
                Favorable Environmental Conditions: Warm and humid weather
                creates an ideal environment for the growth and spread of the
                fungus. Infected Plant Material: Using infected potato seed or
                planting in soil contaminated with the pathogen can introduce
                the disease. Poor Air Circulation: Crowded planting and dense
                foliage can create conditions that promote the spread of the
                fungus. Overhead Irrigation: Watering the plants from above can
                create conditions conducive to fungal growth by keeping the
                foliage wet. Management
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ng-container>
      </div>
    </div>

    <div *ngIf="response['class']=='Healthy'">
      <p style="font-size: 16px; font-style: normal; margin-left: 8px">
        <ion-icon name="search-circle-sharp"></ion-icon> Findings:
      </p>
      <br />

      <img
        [src]="images"
        style="width: 82%; margin-left: 3%; height: 225px; border-radius: 10px"
      />

      <div style="margin-left: 20px">
        <p>
          {{response['class']}} ({{(response['confidence']| percent:'2.0-2')}})
        </p>
        <ion-progress-bar
          type="determinate"
          style="height: 13px; width: 300px; border-radius: 10px"
          [value]="response['confidence']"
        ></ion-progress-bar>
      </div>
      <br>

      <div>
        <ng-container *ngIf="response['class']=='Healthy'">
          <ion-title style="color: #3880ff">Recommandation:</ion-title>
          <p>I rish Patato Analysis</p>
          <p>
            This Irish potato does not have an disease,please continue to take
            measures to Avoid the early,and late disease of potato
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
