*menu-header-bg {
  font-family: lato;
}
.menu-header-bg {
  height: 180px;
  width: 350px;
  background: #4d71d7;;
  background: linear-gradient(90deg, #4d71d7, #4d71d7, 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}
.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #4d71d7;;
    margin-right: 14px;
  }
}
h2{
    font-weight: 300px;
    color: #e4e4e4;
}

p{
    font-size: 12px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
}
#logOut :hover {
  cursor: pointer;
}
