<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../assets/person.jpg" alt="" />
        <ion-label>
          <!-- <p >{{profile}}</p> -->
          <p>Farmer</p>
        </ion-label>
      </div>

      <ion-list lines="none">
        <ion-menu-toggle
        autoHide="auto-hide"
        id="logOut"
        (click)="logout()"
        routerLinkActive="active"
      >
        <ion-item
          routerLinkActive="active"
          lines="none"
          routerDirection="root"
          detail="false"
          routerLinkActive="selected"
        >
          <ion-icon slot="start" name="log-out" color="danger"></ion-icon>
          <ion-label> Logout </ion-label>
        </ion-item>
      </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"> </ion-router-outlet>
</ion-app>
